/* TRANSPARENT GLASS EFFECT */

.mat-mdc-tab-group,
.mat-mdc-tab-body,
mat-card,
ion-card,
.translation-container,
.translation-box {
  background: rgba(255, 255, 255, 0.45) !important;

  backdrop-filter: blur(18px);

  -webkit-backdrop-filter: blur(18px);

  border: 1px solid rgba(255, 255, 255, 0.25);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);

  border-radius: 20px;
}
